{%  extends 'acounts/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row ">
	<div class="col-md-5 shadow-lg p-3 mb-5 bg-body rounded container">
        <h2 class="text-light">Password reset sent</h2>
		<hr>
		<div class="card card-body bg-dark">
            <p class="text-light" >We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

            <p class="text-light" >If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock %}