{%  extends 'acounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<div class="row ">
	<div class="col-md-5 shadow-lg p-3 mb-5 bg-body rounded container">
        <h3 class="text-light">Enter new password</h3>

        <p class="text-light">Please enter your new password twice so we can verify you typed it in correctly.</p>
		<hr>
		<div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit"  class="btn btn-primary">Update Password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}