{%  extends 'acounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<br>
<div class="row ">
	<div class="col-md-5 shadow-lg p-3 mb-5 bg-body rounded container">
        <h2 class="text-light" >Password reset</h2>
        <p class="text-light" >Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <p class="text-light" >( * You can put any available )</p>
		<hr>
		<div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit"  class="btn btn-primary">Send Email</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}